/* Coolors Exported Palette - https://coolors.co/0a2dd3-efc69b-af1b3f-ccb69b-df9b6d */

/* CSS HEX */
--persian-blue: #0a2dd3ff;
--peach-glow: #efc69bff;
--cherry-rose: #af1b3fff;
--khaki-beige: #ccb69bff;
--light-bronze: #df9b6dff;

/* CSS HSL */
--persian-blue: hsla(230, 91%, 43%, 1);
--peach-glow: hsla(31, 72%, 77%, 1);
--cherry-rose: hsla(345, 73%, 40%, 1);
--khaki-beige: hsla(33, 32%, 70%, 1);
--light-bronze: hsla(24, 64%, 65%, 1);

/* SCSS HEX */
$persian-blue: #0a2dd3ff;
$peach-glow: #efc69bff;
$cherry-rose: #af1b3fff;
$khaki-beige: #ccb69bff;
$light-bronze: #df9b6dff;

/* SCSS HSL */
$persian-blue: hsla(230, 91%, 43%, 1);
$peach-glow: hsla(31, 72%, 77%, 1);
$cherry-rose: hsla(345, 73%, 40%, 1);
$khaki-beige: hsla(33, 32%, 70%, 1);
$light-bronze: hsla(24, 64%, 65%, 1);

/* SCSS RGB */
$persian-blue: rgba(10, 45, 211, 1);
$peach-glow: rgba(239, 198, 155, 1);
$cherry-rose: rgba(175, 27, 63, 1);
$khaki-beige: rgba(204, 182, 155, 1);
$light-bronze: rgba(223, 155, 109, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-right: linear-gradient(90deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-bottom: linear-gradient(180deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-left: linear-gradient(270deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-top-right: linear-gradient(45deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-bottom-right: linear-gradient(135deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-top-left: linear-gradient(225deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-bottom-left: linear-gradient(315deg, #0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);
$gradient-radial: radial-gradient(#0a2dd3ff, #efc69bff, #af1b3fff, #ccb69bff, #df9b6dff);